* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 15, 15);
    font-family: sans-serif;
    color: antiquewhite;
}

.contenedor {
    background-color: crimson;
    padding: 24px;
    max-width: 400px;
    border-radius: 12px;
    margin: 0 auto;
}

.subtitulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: beige;
}

.peliculas {
    list-style: none;
}

.pelicula {
    padding: .8rem .5rem;
    color: wheat;
    margin-bottom: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.fondo-uno {
    background-color: teal;
}

.fondo-dos {
    background-color: darkorchid;
}

.fondo-uno:hover,
.fondo-dos:hover {
    background-color: rgb(33, 33, 33);
}