* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #e0132b;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px;

    cursor: none;
}

ul {
    list-style: none;
}

.instruccion {
    background-color: rgba(245, 245, 220, 0.714);
    color: rgb(12, 12, 12);
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 24px 12px #36040442;
    text-align: center;
}

.instruccion p {
    margin: 12px 0;
}

.instruccion ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.cursor {
    position: absolute;
    font-size: 26px;
}