*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(19, 19, 19);
    color: beige;
}

.ingredientes {
    width: 300px;
    margin: 0 auto;
    border: 2px solid rgb(255, 9, 50);
    padding: 1rem;
}

.subtitulo {
    margin-bottom: 1rem;
}

.lista {
    list-style: none;
}

.botana {
    padding: .5rem .3rem;
}