*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    height: 100vh;
    color: white;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.apachurra{
    padding: .5rem 1rem;
    border-radius: 8rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: aquamarine;
    color: darkblue;
    cursor: pointer;
    transition: all 0.3s ease;
    scale: 1;
}
.apachurra:hover{
    background-color: black;
    scale: 1.1;
    color: aliceblue;
}

.apachurra:active{
    scale: .9
}